<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.bangkit.bajp_3_film">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.BAJP_3_FIlm">

        <activity android:name=".ui.favorite.FavoriteActivity" />
        <activity
            android:name=".ui.detail.DetailActivity"
            android:label="@string/title_activity_detail_film"
            android:parentActivityName=".ui.home.HomeActivity"
            android:theme="@style/Theme.BAJP_3_FIlm.NoActionBar" />

        <meta-data
            android:name="android.support.PARENT_ACTIVITY"
            android:value="com.bangkit.bajp_3_film.ui.home.HomeActivity" />

        <activity android:name=".ui.home.HomeActivity"/>
        <activity android:name=".ui.home.SplashScreenActivity"
            android:theme="@style/splashScreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>